---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Open iOS App";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This page should ask for you to open an IOS app</p>
</BaseLayout>

