---
import Navigation from './Navigation.astro';
import Hamburger from './Hamburger.astro';
import ThemeIcon from './ThemeIcon.astro';
---
<header>
  <script>
    import "../scripts/menu.js";
  </script>
 <nav class="navbar">
   <Hamburger/>
   <Navigation />
   <ThemeIcon/>
 </nav>
</header>